Workspace/TracfoneAD/WebContent/SYSTEM/resources/xmlValidators/layouts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="layouts">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="layout" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="default" type="xs:boolean"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
